<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/style.css">
  <title><%= title %></title>
</head>

<body>
  <%- include("partials/header.ejs") %>
  <main>
    <h2><%= title %></h2>
    <%- include('partials/errors.ejs') %>
    <form action="/items/<%= item.id %>/delete" method="POST">
      <div>
        <p>Enter password to delete the '<%= item.item %>' item forever.</p>
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
      </div>
      <button type="submit">Submit</button>
    </form>
  </main>
</body>

</html>