<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/style.css" />
  <title><%= title %></title>
</head>

<body>
  <%- include("partials/header.ejs") %>
  <main>
    <h2><%= title %></h2>
    <a href="/items/create">Add a new item</a>
    <ul>
      <% items.forEach(item => { %>
      <li><a href="/items/<%= item.id %>"><%= item.item %></a></li>
      <% }) %>
    </ul>
  </main>
</body>

</html>