<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/style.css" />
  <title><%= title %></title>
</head>

<body>
  <%- include("partials/header.ejs") %>
  <main>
    <h2><%= title %></h2>
    <a href="/categories/create">Add a new category</a>
    <ul>
      <% categories.forEach(category => { %>
      <li>
        <a href="/categories/<%= category.id %>"><%= category.category %></a>
      </li>
      <% }) %>
    </ul>
  </main>
</body>

</html>