<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/style.css" />
  <title><%= category.category %></title>
</head>

<body>
  <%- include("partials/header.ejs") %>
  <h2>Category: <%= category.category %></h2>
  <a href="/categories/<%= category.id %>/update">Edit</a>
  <a href="/categories/<%= category.id %>/delete">Delete</a>
  <h3>Items</h3>
  <ul>
    <% items.forEach(item => { %>
    <li>
      <a href="/items/<%= item.id %>"><%= item.item %></a>
    </li>
    <% }) %>
  </ul>
</body>

</html>