<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/style.css" />
  <title><%= title %></title>
</head>

<body>
  <%- include("partials/header.ejs") %>
  <main>
    <h2><%= title %></h2>
    <%- include('partials/errors.ejs') %>
    <form action="/items/<%= item.id %>/update" method="POST">
      <div>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" value="<%= item.item %>" required />
      </div>
      <div>
        <label for="description">Description:
        </label>
        <textarea name="description" id="description" required><%= item.description %></textarea>
      </div>
      <div>
        <label for="manufacturer">Manufacturer:</label>
        <select name="manufacturer" id="manufacturer" required>
          <% manufacturers.forEach( manufacturer => { %>
          <option value="<%= manufacturer.id %>" <%= (manufacturer.id == item.manufacturer_id) ? "selected" : ""; %>>
            <%= manufacturer.manufacturer %>
          </option>
          <% }) %>
        </select>
      </div>
      <div>
        <label for="price">Price:</label>
        <input type="number" name="price" id="price" value="<%= item.price %>" required />
      </div>
      <div>
        <label for="quantity">Quantity:</label>
        <input type="number" name="quantity" id="quantity" value="<%= item.quantity %>" required />
      </div>
      <fieldset>
        <legend>Categories:</legend>
        <% categories.forEach( category => { %>
        <div>
          <input type="checkbox" name="category_<%= category.id %>" id="category_<%= category.id %>" <%= item_categories.find(item_category => item_category.id === category.id) ? 'checked' : '' %> />
          <label for="category_<%= category.id %>"><%= category.category %></label>
        </div>
        <% }) %>
      </fieldset>
      <button type="submit">Submit</button>
    </form>
    <a href="/">Back to home</a>
  </main>
</body>

</html>